*.iml
.gradle
/.gradle-user-home/
/.gradle-home/
/.android/
/.android-home/
/.adbhome/
/.kotlin/
/local.properties
/.idea/
.DS_Store
/build/
**/build/
/logs/
/watch5-clean-export/
/.tmp/
/.tmp-watch/
/captures/
.externalNativeBuild
.cxx
*.log
