*.iml
.gradle/
.gradle-home/
.gradle-user-home/
.android/
.android-home/
.adbhome/
.idea/
.kotlin/
.tmp/
.tmp-watch/
logs/
local.properties
/build/
**/build/
/captures/
.externalNativeBuild/
.cxx/
.DS_Store
*.log